<html>
<head>
</head>
<body>
<nav class="navbar navbar-light bg-light fixed-top">
  <h1><%= link_to 'Welcome to Mister Cocktail', cocktails_path %></h1>
  <h2>Here are all of the drinks you can drink!</h2>
  <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
  Add a cocktail!
  </button>
</nav>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <% @cocktails.each do |cocktail| %>
      <img class="d-block w-100" src="https://i.imgur.com/w2QhefG.jpg/800x400?auto=yes&bg=777&fg=555&text=Second slide" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h1><%=  link_to cocktail.name, cocktail_path(cocktail) %></h1>
        <h2>(<%= cocktail.name %>)</h2>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
        Or add a cocktail!
        </button>
      </div>
    </div>
    <div class="carousel-item">
    <% end %>
      <img class="d-block w-100" src="https://i.imgur.com/ZQgxGND.jpg/800x400?auto=yes&bg=777&fg=555&text=Second slide" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h1><%= link_to 'Or create your own cocktail!', new_cocktail_path %></h1>
        <h2>Do it!</2>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
<div class="card-columns">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/uJTwqVo.jpg/100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=  link_to cocktail.name, cocktail_path(cocktail) %></h5>
        <p class="card-text">Drink this!</p>
      </div>
    </div>
  <% end %>
    <div class="card">
      <h1 class="text-center">+</h1>
      <h5 class="card-title text-center">Create your own!</h5>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
          Add a cocktail
        </button>
      </div>
    </div>
</div>

<div class="fixed-bottom d-flex align-items-end flex-column bd-highlight">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
  Add a cocktail!
  </button>
  <br>
</div>

<div class="container-fluid">
  <div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'form', cocktail: @cocktail %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

