<html>
<head>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
  <h1><%= link_to 'Welcome to Mister Cocktail', cocktails_path %></h1>
  <h2>Here are all of the nasty drinks you can drink!</h2>
</nav>

<div class="container-fluid">
  <div class="flex">
    <image src='https://i.imgur.com/ZQgxGND.jpg' class="img-fluid" alt="Responsive image">
    </image>
  </div>
  <div class="flex">
    <h2><%= @cocktail.name %></h2>
    <h3>Ingredients for <%= @cocktail.name %></h3>
    <% Ingredient.all.each do |ingredient| %>
      <p><%= ingredient.name if ingredient.cocktail_id == @cocktail.id %></p>
    <% end %>
  </div>
</div>
  <p><%= link_to "Write a cocktail", new_cocktail_dose_path(@cocktail) %></p>

  <p><%= link_to "Go Back", cocktails_path %></p>

</body>
</html>
